<%= form_with(model: @article, url: edit_post_path, local: true) do |form| %>
  <ul class="nav mb-3 d-flex justify-content-around justify-content-md-end mb-5">
    <li class="ml-md-4 btn-nav">
      <%= form.submit "Update" %>
    </li>
    <li class="ml-md-4 btn-nav">
      <% unless @article.published %>
        <%= form.submit "Publish" %>
      <% end %>
    </li>
  </ul>
  <div class="d-flex justify-content-center mb-5">
    <% if article_image? %>
      <%= image_tag(article_image, :alt => image_description, :class => "img-fluid") %>
    <% end %>
  </div>
  <p class="mb-1 font-italic">You can edit the image of your post</p>
  <div class="form-group mb-5" >
    <%= form.file_field :image_url, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.text_field :title, class: "form-control", placeholder: "Title" %>
  </div>
  <div class="form-group mb-5 pb-5">
    <%= form.text_area :content, class: "quill_container form-control", rows: 20, placeholder: "Share your story..." %>
  </div> 
<% end %>
