<section>
  <div class="container show-article px-5">
    <div class="row">
      <h1 class="article-title pt-4 pb-3">
        <%= @article.title %>
      </h1>
    </div>
    <div class='row mb-4'>
      <%= link_to sort_link_path(@article.author), class: "author-link text-dark" do %>
        <div class="d-flex">
          <div>
            <% if author_avatar? %>
              <%= image_tag(author_avatar, :alt => "avatar", :class => "rounded-circle z-depth-0", :height => "50") %>
            <% else %>
              <%= image_tag("avatar.svg", :alt => "avatar", :class => "rounded-circle z-depth-0", :height => "50") %>
            <% end %>
          </div>
          <div class="ml-3">
            <small class="author">
              <%= author_full_name %>
            </small>
            <div>
              <small>
                <i class="text-muted">Published on</i> <%= format_date(@article.published_at) %>
              </small>
              <small class="text-muted">
                <%= format_read_time(@article) %>
              </small>
            </div>
          </div>
        </div>
      <% end %>
      <div class="follow-btn-container">
        <% unless current_user == @article.author %>
          <%= link_to follow_path(@article.author, current_user.id), remote: true do %>
            <span class="follow-btn"><%= follow_button_text(@follow) %></span>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="row mb-5 d-flex justify-content-center">
      <% if article_image? %>
        <%= image_tag(article_image, :alt => image_description, :class => "img-fluid") %>
      <% end %>
    </div>
    <div class="article-content px-5">
      <%= sanitize @article.content %>
      <% unless @article.author == current_user %>
        <p class="d-flex justify-content-center">Like this post? Give <span class="font-weight-bold px-1"><%= author_full_name %></span> a credit!</p>
      <% end %>
    </div>
    <div class="reaction">
      <span class="pr-3">
        <%= link_to like_path(@article.id), remote: true do %>
          <span class="like-count"><%= @likes_count.to_s %></span> <i class="fa fa-thumbs-up mr-1"></i>
        <% end %>
      </span>
      <span>
        <%= link_to comment_path(@article) do %>
          <span class="comment-count"><%= @comments_count.to_s %></span> <i class="fa fa-comments"></i>
        <% end %>
      </span>
    </div>
    <hr class="mt-2 mb-4">
    <div class='row d-flex mb-4'>
      <div>
        <%= link_to sort_link_path(@article.author), class: "author-link text-dark" do %>
          <% if author_avatar? %>
            <%= image_tag(author_avatar, :alt => "avatar", :class => "rounded-circle z-depth-0", :height => "80") %>
          <% else %>
            <%= image_tag("avatar.svg", :alt => "avatar", :class => "rounded-circle z-depth-0", :height => "80") %>
          <% end %>
        <% end %>
      </div>
      <div class="ml-3">
        <div class="text-muted">WRITTEN BY</div>
        <%= link_to sort_link_path(@article.author), class: "author-link text-dark" do %>
          <div class="article-author">
            <%= author_full_name %>
          </div>
          <p class="text-muted">
            <% if biography? %>
              <%= @article.author.biography %>
            <% end %>
          </p>
        <% end %>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <%= link_to "Write a comment", comment_path(@article.id), class: "btn comment-btn" %>
    </div>
  </div>
  <% if @articles.any? %>
    <div class="container-fluid footer-posts py-5 mt-5">
      <div class="container">
        <div class="row">
          <div class="row">
            <h5 class="mb-5">Trending on Authors Haven</h5>
          </div>
          <div class="row">
              <div class="row">
                <div class="col-sm-4 mb-4">
                    <%= link_to post_path(@articles[0].author.first_name, @articles[0].slug) do %>
                        <div class="card card-col">
                            <%= image_tag(@articles[0].image_url.to_s, :alt => "...", :class => "card-img-top", height: "250") %>
                            <div class="card-body">
                            <p class="card-title"><%= sanitize @articles[0].title %></p>
                            <p class="card-text"><%= sanitize @articles[0].content.truncate(30) %></p>
                            <div class="row mt-3">
                              <div class="d-flex">
                                 <div class="col-2">
                                    <% if @articles[0].author.avatar_url.present? %>
                                      <%= image_tag(avatar(@articles[0].author), :alt => "avatar image", :class => "rounded-circle", :height => "58") %>
                                    <% else %>
                                      <%= image_tag("avatar.svg", :alt => "avatar image", :class => "rounded-circle", :height => "58") %>
                                    <% end %>
                                  </div>
                                  <div class="col-10">
                                    <div>
                                      <small class="font-weight-bold author-name"><%= profile_name(@articles[0].author) %></small>
                                    </div>
                                    <div class="d-flex text-muted">
                                      <small class="text-muted pr-5"><%= "#{format_date(@articles[0].published_at)} #{format_read_time(@articles[0])}" %></small>
                                      <div class="pl-5">
                                        <span class="mr-1"><i class="fa fa-thumbs-up"></i> <%= like_count(@articles[0]) %></span>
                                        <span class=""><i class="fa fa-comments"></i> <%= comment_count(@articles[0]) %></span>
                                      </div>
                                    </div>
                                  </div>
                              </div>
                            </div>
                            </div>
                        </div>
                    <% end %>
                </div>
                <% if @articles[1] %>
                    <div class="col-sm-4 mb-4">
                        <%= link_to post_path(@articles[1].author.first_name, @articles[1].slug) do %>
                            <div class="card card-col">
                                <%= image_tag(@articles[1].image_url.to_s, :alt => "...", :class => "card-img-top", height: "250") %>
                                <div class="card-body">
                                <p class="card-title"><%= sanitize @articles[1].title %></p>
                                <p class="card-text"><%= sanitize @articles[1].content.truncate(30) %></p>
                                <div class="row mt-3">
                                  <div class="d-flex">
                                    <div class="col-2">
                                      <% if @articles[1].author.avatar_url.present? %>
                                        <%= image_tag(avatar(@articles[1].author), :alt => "avatar image", :class => "rounded-circle", :height => "58") %>
                                      <% else %>
                                        <%= image_tag("avatar.svg", :alt => "avatar image", :class => "rounded-circle", :height => "58") %>
                                      <% end %>
                                    </div>
                                    <div class="col-10">
                                      <div>
                                        <small class="font-weight-bold author-name"><%= profile_name(@articles[1].author) %></small>
                                      </div>
                                      <div class="d-flex text-muted">
                                        <small class="text-muted pr-5"><%= "#{format_date(@articles[1].published_at)} #{format_read_time(@articles[1])}" %></small>
                                        <div class="pl-5">
                                          <span class="mr-1"><i class="fa fa-thumbs-up"></i> <%= like_count(@articles[1]) %></span>
                                          <span class=""><i class="fa fa-comments"></i> <%= comment_count(@articles[1]) %></span>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                </div>
                            </div>
                        <% end %>
                    </div>
                <% end %>
                <% if @articles[2] %>
                    <div class="col-sm-4 mb-4">
                        <%= link_to post_path(@articles[2].author.first_name, @articles[2].slug) do %>
                            <div class="card card-col">
                                <%= image_tag(@articles[2].image_url.to_s, :alt => "...", :class => "card-img-top", height: "250") %>
                                <div class="card-body">
                                <p class="card-title"><%= sanitize @articles[2].title %></p>
                                <p class="card-text"><%= sanitize @articles[2].content.truncate(30) %></p>
                                <div class="row mt-3">
                                  <div class="d-flex">
                                    <div class="col-2">
                                      <% if @articles[2].author.avatar_url.present? %>
                                        <%= image_tag(avatar(@articles[2].author), :alt => "avatar image", :class => "rounded-circle", :height => "58") %>
                                      <% else %>
                                        <%= image_tag("avatar.svg", :alt => "avatar image", :class => "rounded-circle", :height => "58") %>
                                      <% end %>
                                    </div>
                                    <div class="col-10">
                                      <div>
                                        <small class="font-weight-bold author-name"><%= profile_name(@articles[2].author) %></small>
                                      </div>
                                      <div class="d-flex text-muted">
                                        <small class="text-muted pr-5"><%= "#{format_date(@articles[2].published_at)} #{format_read_time(@articles[2])}" %></small>
                                        <div class="pl-5">
                                          <span class="mr-1"><i class="fa fa-thumbs-up"></i> <%= like_count(@articles[2]) %></span>
                                          <span class=""><i class="fa fa-comments"></i> <%= comment_count(@articles[2]) %></span>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                </div>
                            </div>
                        <% end %>
                    </div>
                <% end %>
              </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</section>
